@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me here</button>
<p>dawdawdadadw</p>
@code {
    private int currentCount = 0;

    private int test = 5;
    private void IncrementCount()
    {
        currentCount++;
    }
}
