@page "/"

<PageTitle>Index</PageTitle>

<div class="centre-content container-centre margin-t-50">
    <h1>Next Career Quiz</h1>
    <p class="margin-t-50">Take 5-10 minutes to answer a set of questions specifically designed to help you understand which position is best suitable for you to apply to</p>
    <button class="white-button margin-t-50">Start Quiz</button>
    <a href="Login" class="margin-t-50 auth-a">Already completed the Next Career Quiz? Log in to see your results</a>
</div>



@code{
}
