.container-centre {
    width: 850px;
    max-width: 60vw;
}

.white-button, .white-button-selected {
    width: 115px;
}

.progress-b {
    background-color: #00829b;
    border-radius: 5px;
    height: 40px;
    border: 2px solid #00748C;
    text-align: center;
}

.progress-b>p {
    color: white;
}
