@inherits LayoutComponentBase

<PageTitle>Next2-BlazorServerApplication</PageTitle>

<div class="page">

    <main>
@*         <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div> *@
        <div class="container-space-between padding-50">
            <img src="/Data/NextCareersLogo.png"/>
            <NavLink class="nav-link" href="Login" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> <span style="color:black;"><i class="fa-solid fa-user"></i></span>
            </NavLink>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
